.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .custom-card {
    background-color: transparent;  
  }

.card-body {
    flex: 1 1 auto;
    padding: 0rem 0rem;
}
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
 
  